<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

      <style>
        .tablrre {
            table-layout:fixed;
        }

        .hscroll{
            overflow-x:auto;
        }
    </style>
</head>
<body>
      <h5>{{count}} Records Found</h5>
      <div class="hscroll">
            <table class="table table-responsive" style="font-size:14px;">
            <tr>
                <th>Fname</th>
                <th>Lname</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>DL No.</th>
                <th>DL exp</th>
                <th>Location</th>
                <th>DOB</th>
                <th>PassPort</th>
            </tr>
            {% for driver in drivers %}
                 <tr>
                     <td>{{driver.fname}}</td>
                     <td>{{driver.lname}}</td>
                     <td>{{driver.surname}}</td>
                     <td>{{driver.phone | data_decrypt }}</td>
                     <td>{{driver.email}}</td>
                     <td>{{driver.dl_no}}</td>
                     <td>{{driver.dl_no_expiry}}</td>
                     <td>
                           {% for location in locations %}
                              {% if location[0] == driver.loc_id %}
                                    {{location[1]}}
                              {% endif %}
                          {% endfor%}
                     </td>
                     <td>{{driver.dob}}</td>
                     <td><img src="../static/images/{{driver.passport_pic}}" alt="" width="50"></td>
                     {% if driver.status == 'Not Allocated'%}
                     <td><a href="/vehiclelivesearch/{{driver.driver_id}}">Assign Vehicle</a></td>
                     {% elif driver.status == 'Allocated' %}
                     <td><span class="badge bg-success">Allocated</span>
                         <a href="/allocatedvehicle/{{driver.driver_id}}">View Car</a>
                         <br>
                         <a href="/assign/{{driver.driver_id}}" onclick="return confirm('Sure');">Assign</a>
                         <br>
                         <a href="/reallocate/{{driver.driver_id}}" onclick="return confirm('Sure');">Remove</a>
                     </td>
                     {% endif %}
                 </tr>
            {% endfor %}

      </table>
      </div>

</body>
</html>